{% extends "base_generic.html" %}
{% load i18n %}

{% block title %}
    <title>{% if create %}{% trans "User Creation" %}{% else %}{% trans "User Modification" %}{% endif %}</title>
{% endblock %}

{% block main %}
    <h1>{% if create %}{% trans "User Creation" %}{% else %}{% trans "User Modification" %}{% endif %}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value={% if create %}{% trans "Create" %}{% else %}{% trans "Modify" %}{% endif %}>
    </form>
{% endblock %}
