{% extends "base_generic.html" %}
{% load i18n %}

{% block title %}
    <title>{% trans "Small Business Management System" %} - {% trans "Event Detail" %}</title>
{% endblock %}

{% block main %}
    <h1>{{event.name}}</h1>
    <p><strong>{% trans "Date" %}:</strong> {{ event.date }}</p>
    {% if event.time %}
        <p><strong>{% trans "Time" %}:</strong> {{ event.time }}</p>
    {% endif %}
    {% if event.attendants %}
        <p><strong>{% trans "Attendants" %}:</strong> {{ event.attendants }}</p>
    {% endif %}
    <p><strong>{% trans "Description" %}:</strong> {{ event.description }}</p>
    <p><strong>{% trans "Charge" %}:</strong>
        {% if event.charge %}
            {{ event.charge }}
        {% else %}
            {% trans "Free" %}
        {% endif %}
    </p>
    {% if not automatic %}
        {% if registered %}
            <div class="error">{% blocktrans with username=user.get_username %}The user {{username}} is already registered to attend this event.{% endblocktrans %}</div>
        {% else %}
            <form method="post" action="{% url 'event-attend' %}">
                {% csrf_token %}
                <table class="search">
                    <tr>
                        <td>{% trans "Attendees" %}:</td>
                        <input type="hidden" name="event_pk" value="{{ event.pk }}" >
                        <td><input type="number" name="attendees" value="1" min= "1" max="{{ vacancies }}" {% if vacancies <= 0 %} disabled {% endif %} ></td>
                        <td><button type="submit" {% if vacancies <= 0 %} disabled {% endif %}>{% trans "Event attend" %}</button></td>
                    </tr>
                </table>
            </form>
        {% endif %}
        <p>{% trans "Vacancies" %}: {{ vacancies }}</p>
    {% endif %}
    {% if perms.partners.management %}
        <form method="get" action="{% url 'list-attendees' event.pk %}">
            <button type="submit" >{% trans "List Attendees" %}</button>
        </form>
    {% endif %}
{% endblock %}
