{% extends "base_generic.html" %}
{% load i18n %}

{% block title %}
    <title>{% trans "Small Business Management System" %} - {% trans "Partners" %}</title>
{% endblock %}

{% block main %}
    <h1>{% trans "Partners List" %}</h1>
    {% if partner_list %}
        <form method="get" action="{% url 'partners' %}">
            <table class="search">
                <tr>
                    <td>{% trans "Number or last name" %}:</td>
                    <td><input type="text" name="q" placeholder="Search items..." value="{{ request.GET.q }}"></td>
                    <td><button type="submit">{% trans "Search" %}</button></td>
                </tr>
            </table>
        </form>

        <table>
            <tr>
                <th width=10%>{% trans "Number" %}</th>
                <th width=30%>{% trans "Last name" %}</th>
                <th width=40%>{% trans "First name" %}</th>
                <th width=20%>{% trans "Status" %}</th>
            </tr>
                {% for partner in partner_list %}
                    <tr>
                        <td>
                            {% if perms.partners.view_partner %}
                                <a href="{{ partner.get_absolute_url }}">{{partner.partner_number}}</a>
                            {% else %}
                                {{partner.partner_number}}
                            {% endif %}
                        </td>
                        <td>{{partner.person.last_name}}</td>
                        <td>{{partner.person.first_name}}</td>
                        <td>{{partner.get_status_display }}</td>
                    </tr>
                {% endfor %}
                {% if perms.partners.add_partner %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <form method="get" action="{% url 'create-partner' %}">
                                {% csrf_token %}
                                <button type="submit" >{% trans "Add Partner" %}</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
        </table>
    {% else %}
        <p>{% trans "There are no partners in the system." %}</p>
    {% endif %}
{% endblock %}
