{% extends "base_generic.html" %}
{% load i18n %}

{% block title %}
    <title>{% trans "Small Business Management System" %} - {% trans "Home" %}</title>
{% endblock %}

{% block main %}
    <h1>{% trans "Small Business Management System" %} - {% trans "Home" %}</h1>
    <p>
        Welcome to the
        <em>{% trans "Small Business Management System" %}</em>!
    </p>
    <h2>{% trans "Partners" %}</h2>
    <h3>
        {% blocktrans count partners_quantity as count %}The system has {{ partners_quantity }} partner.{% plural %}The system has {{ partners_quantity }} partners.{% endblocktrans %}
    </h3>
{% endblock %}

