{% extends "base_generic.html" %}
{% load i18n %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const automatic = document.getElementById('automatic');
        const time = document.getElementById('time');
        const attendants = document.getElementById('attendants');
        const validity = document.getElementById('validity');

        function toggleFields() {
            if (automatic.checked) {
                time.disabled = true;
                attendants.value = '';
                attendants.disabled = true;
                validity.value = 'monthly';
                validity.disabled = false;
            } else {
                time.disabled = false;
                attendants.value = 1;
                attendants.disabled = false;
                validity.value = '';
                validity.disabled = true;
            }
        }

        automatic.addEventListener('change', toggleFields);
        toggleFields(); // Run on load to set initial state
    });
</script>
{% endblock %}

{% block title %}
    <title>{% trans "Event Creation" %}</title>
{% endblock %}

{% block main %}
    <h1>{% trans "Event Creation" %}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
    <input type="submit" value={% trans "Create" %}>
  </form>
{% endblock %}
