{% extends "base_generic.html" %}
{% load i18n %}

{% block title %}
    <title>{% trans "Small Business Management System" %} - {% trans "Events" %}</title>
{% endblock %}

{% block main %}
    <h1>{% trans "Events List" %}</h1>
    {% if event_list %}
        <table>
            <tr>
                <th width=50%>{% trans "Name" %}</th>
                <th width=20%>{% trans "Date" %}</th>
                <th width=20%>{% trans "Time" %}</th>
                <th width=10%>{% trans "Attendants" %}</th>
            </tr>
                {% for event in event_list %}
                    <tr>
                        <td><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></td>
                        <td>{{ event.date | date:"SHORT_DATE_FORMAT" }}</td>
                        <td>{% if event.time %}{{ event.time}}{% endif %}</td>
                        <td>{% if event.attendants %}{{ event.attendants }}{% endif %}</td>
                    </tr>
                {% endfor %}
        </table>
    {% else %}
        <p>{% trans "There are no events in the system." %}</p>
    {% endif %}
{% endblock %}
