{% extends "base_generic.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}
    <title>{% trans "Small Business Management System" %} - {% trans "Accounting" %}</title>
{% endblock %}

{% block main %}
    <h1>{% trans "Accounting" %}</h1>
    {% if accounting_list %}
        <div style="overflow-x:auto;">
            <table class="accounting">
                <tr>
                    <th class="accounting" width=15% >{% trans "Date" %}</th>
                    <th class="accounting" width=55%>{% trans "Concept" %}</th>
                    <th class="accounting" width=15%>{% trans "Debit" %}</th>
                    <th class="accounting" width=15%>{% trans "Credit" %}</th>
                </tr>
                    {% for accounting in accounting_list %}
                        <tr>
                            <td class="accounting">{{ accounting.date | date:"SHORT_DATE_FORMAT" }}</td>
                            <td class="accounting">
                                <span data-bs-toggle="tooltip" title="{{ accounting.description }}">
                                    {{ accounting.concept }}
                                </span>

                            </td>
                            <td class="accounting">{% if accounting.debit %}-{{ accounting.debit }}{% endif %}</td>
                            <td class="accounting">{% if accounting.credit %}{{ accounting.credit }}{% endif %}</td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
    {% else %}
        <p>{% trans "There are no accounting in the system." %}</p>
    {% endif %}
{% endblock %}
